<!DOCTYPE html>
<html>
<header>
	<link href="/assets/style.css" rel="stylesheet" type="text/css" />
 <div id="headerNav"> <a href="#movies">Movies</a><a href="#profilepage">Profile Page</a></div>
  
</header>

<script src ="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>	
	window.onload = function() {
  if (document.querySelectorAll("section:target").length == 0) {
    window.location = "#login";
  }
}</script>
<script type = 'module'>


import model from "/assets/Model.js"
import viewModel from "/assets/ViewModel.js"

const movie = [{title: 'Shawshank', year: '1997'},
{title: 'Bobby', year: '1991'},
{title: 'Hansi', year: '1990'}]


window.init = async function(){
	
	//console.log("Init")
	const theModel = model(movie)
	const vm = viewModel(document.getElementById('base'), theModel)
	const app = new Vue(vm)
}


</script>


<body onload = "init()">
	<div id="base">

  
  <div class="content">

	  <section id="login">
      <h2>Login</h2>
	  <div><input type="text" placeholder="Username">
	  <input type="password" placeholder="Password"></div>
	  
	  <button>Sign In</button>
	  <p>
		  Heeeeeey :D 
	  </p>
    </section>
    <section id="movies">
      <div id="search">
		  	<input v-model:value='movieTitle' id='normal' placeholder="Search for movies...">
			
			<button id="searchBtn" @click='searchMovieByTitle()'>Search</button>
			<textarea id="movieTitle" v-model: value = 'movieTitle'></textarea>
		</div>
    </section>

    <section id="profilepage">
      <h2>movie.title Profile Page</h2>
	  <button @click='writeToConsole()'>Yes</button>

	  <div id="favListDiv">
		  <table id="favList">
			  <h2>Favorite List</h2>
  
    <thead><tr><td>Movie Name</td><td>Release</td></tr></thead>
	<tbody>
		<tr v-for ='m in movie'>
			<td>{{m.title}}</td>
			<td>{{m.year}}</td>

		</tr>
	</tbody>
    
  
 
  
</table>
	  </div>
    </section>
    
    <section id="weather">
      <h2>Weather</h2>
    </section>
    
    <section id="sports">
      <h2>Sports</h2>
    </section>
  </div>

  </div>


<footer>
	<h2>Best Movies Platform</h2>
	<p>Share your enthusiasm with fellow movie lovers</p>
</footer>
</body>

</html>