<!DOCTYPE html>
<html>

<head>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />

<script src ="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="module" >

import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
import { getAuth, signInWithRedirect , GoogleAuthProvider, onAuthStateChanged ,signOut  } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-auth.js";

import model from "/assets/Model.js"
import viewModel from "/assets/ViewModel.js"

const firebaseConfig = {
  apiKey: "AIzaSyBjMvVKgFVEr2XHD8t3Ot5ukXFO9W4MUDk",
  authDomain: "semester6project.firebaseapp.com",
  projectId: "semester6project",
  storageBucket: "semester6project.appspot.com",
  messagingSenderId: "12632593485",
  appId: "1:12632593485:web:a9ee8e9b6ec0faa701b804"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);

const auth = getAuth();

auth.languageCode = 'it';
const provider = new GoogleAuthProvider();
 provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
  provider.setCustomParameters({
    'login_hint': 'xxx@gmail.com'
  });



(function () {
 
  function loginGoogle() {
    signInWithRedirect(auth, provider); 
  }
  document.getElementById('buttonLogin').addEventListener('click', loginGoogle, true);
})();

 
(function () {

  function logout() {
        signOut(auth).then(() => {
       console.log("You have been signed out")
    }).catch((error) => {
      console.log("Error")
    });
  }
  document.getElementById('buttonLogout').addEventListener('click', logout, true);
})();

const user = auth.currentUser;
onAuthStateChanged(auth, (user) => {
  if (user) {
    // User is signed in, see docs for a list of available properties
    // https://firebase.google.com/docs/reference/js/firebase.User
    const uid = user.uid;
    
    if (user !== null) {
    user.providerData.forEach((profile) => {
      document.getElementById('loginHide').style.visibility = 'visible';
      console.log("Sign-in provider: " + profile.providerId);
      console.log("  Provider-specific UID: " + profile.uid);
      console.log("  Name: " + profile.displayName);
      console.log("  Email: " + profile.email);
      console.log("  Photo URL: " + profile.photoURL);
  });
}
  } else {
    console.log("Login is NOT Working!")
    document.getElementById('loginHide').style.visibility = 'hidden';
  }
});

	window.onload = function() {
  if (document.querySelectorAll("section:target").length == 0) {
    window.location = "#login";
  }}

 
const movie = [{title: 'Shawshank', year: '1997'},
{title: 'Bobby', year: '1991'},
{title: 'Hansi', year: '1990'}]


window.init =async function(){
	
	console.log("Init")
	const theModel = model(movie)
	const vm = viewModel(document.getElementById('base'), theModel)
	const app = new Vue(vm)
}

</script>



</head>

<body onload = "init()">
	<div id="base">
  
  
  <div id="loginHide">
	
 <div id="headerNav"> <a href="#home">Home</a><a href="#profilepage">Profile Page</a></div>
  
</div>
    <button class="btn btn-success" type="button" id="buttonLogin">Google Login</button>

     <button class="btn btn-success" type="button" id="buttonLogout">Logout</button>
  
  

  
  <div class="content" id="loginHide">


    <section id="home" >
      <div class="details">
			<p>
                This created the revision <code>{{revision}}</code> of the Cloud Run service <code>{{service}}</code>.
            </p>

			<p class="callout">
				You can deploy any container to Cloud Run that listens for HTTP requests on the port defined by the
				<code>PORT</code> environment variable.
				Cloud Run will scale automatically based on requests and you never have to worry about
				infrastructure.
			</p>

			<h3>What's next?</h3>
			<ul>
				<li class="next">Try out live debugging in Cloud Code for <a href="https://cloud.google.com/code/docs/vscode/debugging-a-cloud-run-service" target="_blank" rel="noopener">VS Code</a> or <a href="https://cloud.google.com/code/docs/intellij/debugger" target="_blank" rel="noopener">IntelliJ</a></li>
				<li class="next">Make your application more secure with Secret Manager for <a href="https://cloud.google.com/code/docs/vscode/secret-manager" target="_blank" rel="noopener">VS Code</a> or <a href="https://cloud.google.com/code/docs/intellij/secret-manager" target="_blank" rel="noopener">IntelliJ</a></li>
				<li class="next">Explore the features of Cloud Run with <a href="https://cloud.google.com/run/docs/tutorials" target="_blank" rel="noopener">Cloud Run tutorials</a> </li>
			</ul>
			
			<h3>Want to help shape the future of Cloud Code?</h3>
			<ul>
				<li class="next">
				Sign up for the chance to participate in our ongoing research studies 
					<a href="https://google.qualtrics.com/jfe/form/SV_4Me7SiMewdvVYhL?reserved=1&utm_source=In-product&Q_Language=en&utm_medium=own_prd&utm_campaign=Q1&productTag=clou&campaignDate=January2021&referral_code=UXlX318928" target="_blank" rel="noopener">
						here!
					</a>
				</li>
				<li class="next">Join the <b>#cloud-code</b> channel in the <a href="https://join.slack.com/t/googlecloud-community/shared_invite/zt-erdf4ity-8ZMUQ18DYV~5hkbZ~gCswg" target="_blank" rel="noopener">Google Cloud Platform Slack community</a> to ask questions, provide feedback, and get the latest Cloud Code news</li>
			</ul>

			<h3>Learn more with our documentation</h3>
			<p class="cta">
				<a href="https://cloud.google.com/code/docs" target="_blank" rel="noopener">
					CLOUD CODE DOCS
				</a>
				<a href="https://cloud.google.com/run/docs" target="_blank" rel="noopener">
					CLOUD RUN
				</a>
				<a href="https://cloud.google.com/shell/docs/editor-overview#cloud_code_integration" target="_blank" rel="noopener">
					CLOUD CODE ON CLOUD SHELL
				</a>
			</p>

		</div>
    </section>

    <section id="profilepage">
      <h2>movie.title Profile Page</h2>
	  <button @click='writeToConsole()'>Yes</button>

	  <div id="favListDiv">
		  <table id="favList">
			  <h2>Favorite List</h2>
  
    <thead><tr><td>Movie Name</td><td>Release</td></tr></thead>
	<tbody>
		<tr v-for ='m in movie'>
			<td>{{m.title}}</td>
			<td>{{m.year}}</td>

		</tr>
	</tbody>
    
  
 
  
</table>
	  </div>
    </section>
    
  
  </div>



  </div>



<footer>
	<h2>Best Movies Platform</h2>
	<p>Share your enthusiasm with fellow movie lovers</p>
</footer>
</body>

</html>