<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Congratulations | Cloud Run</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link href="/assets/cloud-run-32-color.png" rel="icon" type="image/png" />
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="message">
				<h1>It's running! Mathias is the mans </h1>
				<h2>Congratulations, you successfully found mathias hidden treasure</h2>
				<button @click='changePage()' >Page</button>
			</div>
</body>