@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

* { -webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	-ms-font-smoothing:antialiased; 
	-o-font-smoothing:antialiased; 
	-font-smoothing:antialiased; }
a{
	padding: 10px;
	font-weight: bold;
	color: #000;
}
.LogoutButton{
	float: right;
	margin: 10px;
	font-size: 20px bold;
	width: 60px;
	height: 30px;
}

.welcome{
	font-size: 40px bold;
	text-align: center;
}

.Login{
	margin: auto;
	margin-top: 30px;
	border: 4px solid rgb(235, 235, 235);
	border-radius: 25px;
	align-content: center;
	width: 350px;
	height: 450px;
	padding-bottom: 30px;
}
#loginText{
	font-size: 15px bold;
	text-align: center;
	margin-bottom: 50px;
	
	
	
}

#LoginButton{

	font-size: 20px bold;
	align-content: center;
	margin-left: 90px;
}
#FavRadio{
	margin-right: 50px;
	margin-top: -50px;
}
#addToFav{
	margin-right: 50px;
}
#poster{
	height: 400px;
	width: 300px;
	
}
.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}


.btn-google {
    color: #545454;
    background-color: #ffffff;
}
.child {
	position: absolute;
	top: 50;
	
  }
  
  .child-1 {
	left: 0;
  }
  
  .child-2 {
	left: 170px;
  }
  .child-3 {
	left: 340px;
  }
  .child-4 {
	left: 510px;
  }
  .child-5 {
	left: 680px;
  }
  .child-6 {
	left: 850px;
  }
  .child-7 {
	left: 0;
	top: 70px;
  }
  .child-8 {
	left: 680px;
	top: 70px;
  }	
  .child-9 {
	left: 340px;
	top: 70px;
  }
  .child-10 {
	left: 170px;
	top: 450px;
	width: 680px;
  }
  .child-11 {
	left: 0px;
	top: 140px;
  }
  .child-12 {
	left: 680px;
	top: 300px;
  }
  
  .container {
	margin: 30px auto;
	margin-bottom: 70px;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}
.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}
.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px;
	height: 50%;
	border-radius: 5px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-right: 25px;
}

  .parent {
	position: relative;
	margin-left: 400px;
	margin-top: 50px;
  }

textarea{
	resize: none;
}

#searchField{
	width: 500px;
}
#searchFieldDiv{
	margin: auto;
	text-align: center;
  	padding: 10px;

}
#headerNav{
	margin: 0;
	padding: 0%;
	font-family: "Open Sans", arial;
	font-size: 30px;
	color:#fff;
	
	text-align: center;
	}

	#favList{
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		text-decoration: #1f6fd1;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	  }
	  
	  tr:nth-child(even) {
		background-color: #dddddd;
	  }

	  #favListDiv{
		  max-width: 250px;
		  float: right;
		  margin-right: 50px;
		  
	  }
	  #otherfavListDiv{
		max-width: 250px;
		float: left;
		margin-left: 50px;
		
	}

	  

body {
	margin:0px;
  padding:0px;
	font-family: "Open Sans", arial;
	background:#1f6fd1;
	color:#fff;
	font-weight:300;
  }
  h1, h2, h3, h4 {
	text-align: center;
  }
  header h1 {
	background-color: rgb(81, 83, 81);
	margin: 0;
	padding: 10px;
  }
  nav, aside {
	border-radius: 5px;
	overflow: hidden;
	background-color: rgb(81, 83, 81);
  }
  a, button, label {
	cursor: pointer;
	text-decoration: none;
  }

  nav ul {
	list-style-type: none;
	margin: 0;
	border: 0;
	padding: 0;
	display: inline;
  }
  nav a {
	display: block;
	line-height: 48px;
	font-size: 18px;
	color: #f96302;
	text-align: center;
	transition: background-color .2s;
  }
  nav a:hover {
	background-color: #000;
  }
  
  section {
	display: none;
  }
  section:target {
	display: block;
  }
  
  footer p {
	color: #000000;
	text-align: center;
	

  }
		#pcomment{
		color: #000000;
	}
  footer{
	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  }
  .footerH{
	margin-top:5px;
	margin-bottom: 5px;
  }
  .footerP{
	margin-top:5px;
	margin-bottom: 5px;

}
  main {
	display: flex;
	min-height: 85vh;
  }
  .content {
	flex-grow: 2;
  }
  aside {
	order: 1;
  }
  
  header, footer {
	background-color:#ccc;
  }
  
  nav, aside {
	min-width:160px;
	max-width:160px;
  }
  
  @media screen and (max-width: 620px) {
	main {
	  flex-direction: column;
	}
	nav {
	  order: 1;
	}
	aside {
	  order: 2;
	}
	nav ul {
	  text-align:center;
	}
	nav figure img {
	  width:100px;
	  float:left;
	}
	nav, aside {
	  min-width:none;
	  max-width:none;
	}
  }
  